<div class="auth-page-wrapper">
    <h3>{{ isAftermarket ? 'GET_LOGIN_AM'|t|raw : 'GET_LOGIN'|t|raw }}</h3>
    <div id="login-form-content">
        <div class="login-container">
            {% spaceless %}
                <form action="{{ createUrl('login', 'login') }}" class="login-form with-validate"
                      method="post">
                    <div>
                        <input type="text" class="required" placeholder="{{ 'USERNAME'|t }}"
                               name="user[login]">
                    </div>
                    <div>
                        <input type="password" class="required" placeholder="{{ 'PASSWORD'|t }}"
                               name="user[password]">
                    </div>
                    <div>
                        <input type="hidden" name="user[backurl]" value="">
                        <input type="hidden" name="isAm" value="{{ isAftermarket }}">
                        <button type="submit" style="width: 100%" class="button">{{ 'LOGIN'|t }}</button>
                    </div>
                </form>
            {% endspaceless %}
        </div>
    </div>
</div>