{% block details_result %}
    {% for detail in details.oems %}
        {% set detailLink = createUrl(
        'aftermarket',
        'findOem', '' ,
        { 'detail_id': detail.detail_id, 'options': 'crosses,weights,names,properties,images' }
        ) %}
        <div class="am-detail">
            <div class="am-detail-heading">
            <span><a class="am-oem" data-url="{{ detailLink }}"
                     href="javascript:void(0)">{{ detail.formattedoem }}</a></span>
                <span><a class="manufacturerInfo" href="javascript:void(0)" id="manufacturerInfo{{ detail.detail_id }}"
                         data-url="{{ createUrl('aftermarket', 'manufacturerinfo', '' , { 'manufacturerid': detail.manufacturer_id }) }}">{{ detail.manufacturer }}</a></span>
                <span>{{ detail.weight ? 'Weight: ' ~ detail.weight : '' }}</span>
                <span>{{ detail.volume ? detail.volume : '' }}</span>
                <span>{{ detail.dimensions ? detail.dimensions : '' }}</span>
                <br/>
                {% for property in detail.properties %}
                    <span class="am-detail-property-name">{{ property.property|raw }}: </span>
                    <span class="am-detail-property-value">{{ property.value|raw }}</span><br/>
                {% endfor %}
            </div>
            <div class="flex images-wrapper">
                {% for image in detail.images %}
                    <div data-full="{{ image.filename }}" class="aftermarket-detail-image">
                        <img src="{{ image.thumbnailfilename }}" alt="">
                    </div>
                {% endfor %}
            </div>
            {% if detail.replacements %}
                <table class="collapse table yqservice_tablecatalog find-oem-table" style="width: 100%">
                    <tr>
                        <th></th>
                        <th>{{ 'brand'|t }}</th>
                        <th>{{ 'oem'|t }}</th>
                        <th></th>
                        <th>{{ 'name'|t }}</th>
                        <th>{{ 'weight'|t }}</th>
                        <th>{{ 'volume'|t }}</th>
                        <th>{{ 'sizes'|t }}</th>
                    </tr>
                    {% for replacement in detail.replacements %}
                        {% set replacementManufacturerLink = createUrl(
                        'aftermarket',
                        'manufacturerinfo', '' ,
                        { 'manufacturerid': replacement.manufacturer_id }) %}

                        {% set replacementDetailLink = createUrl(
                        'aftermarket',
                        'findOem', '' ,
                        { 'detail_id': replacement.detail_id, 'options': 'crosses,weights,names,properties,images' }) %}

                        {% set detailAttrs = replacement.replacement_attributes %}

                        <tr>
                            <td>{{ detailAttrs.type ~ ' ' ~ detailAttrs.way }}</td>
                            <td>
                                <a class="manufacturerInfo"
                                   id="manufacturerInfo{{ replacement.detail_id }}"
                                   href="javascript:void(0)" id="manufacturerInfo"
                                   data-url="{{ replacementManufacturerLink }}">
                                    {{ replacement.manufacturer ? replacement.manufacturer : '' }}
                                </a>
                                <script type="text/javascript">
                                    jQuery('#manufacturerInfo{{ replacement.detail_id }}').off('click');
                                    jQuery('#manufacturerInfo{{ replacement.detail_id }}').on('click', function () {
                                        var $this = jQuery(this);
                                        $this.colorbox({
                                            href: $this.data('url'),
                                            title: '',
                                            close: ''
                                        });
                                    });
                                </script>
                            </td>
                            <td><a class="am-oem" data-url="{{ replacementDetailLink }}"
                                   href="javascript:void(0)">{{ replacement.formattedoem ? replacement.formattedoem : '' }}</a>&nbsp;
                            </td>
                            <td>
                                {% if originalAliases[replacement.manufacturer] is defined %}
                                    <a class="button vertical-margin info" href="{{ createUrl('vehicles', {
                                        'ft': 'findByOEM',
                                        'brand': replacement.manufacturer,
                                        'oem': replacement.formattedoem ? replacement.formattedoem : ''
                                    }) }}"><span>{{ 'applicability'|t }}</span></a>
                                {% endif %}
                            </td>
                            <td>{{ replacement.name ? replacement.name : '' }}</td>
                            <td>{{ replacement.weight ? replacement.weight : '' }}</td>
                            <td>{{ replacement.volume ? replacement.volume : '' }}</td>
                            <td>{{ replacement.dimensions ? replacement.dimensions : '' }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    {% endfor %}
    <div id="responseDataBlock" class="hidden">
        <div class="request_message_raw">
            <div class="request_time">
                {{ 'REQUEST_TIME'|t|replace({'%time%' : request.requestTime|round(4) }) }}
            </div>
            {% for request in request.textRequests %}
                <div>
                    <b>{{ loop.index }}:</b> {{ request }}
                </div>
            {% endfor %}
        </div>
        {%- spaceless -%}
            <div class="response_message_raw">
                <code class="hljs xml">{{ request.data }}</code>
            </div>
        {% endspaceless %}
    </div>
    {% if not details.oems|length %}
        <div class="details-not-found">
            <span>{{ 'unitDetailsNoResulst'|t }}</span>
        </div>
    {% endif %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(document).off('click', 'a.am-oem');
            jQuery(document).on('click', 'a.am-oem', function (event) {

                event.stopPropagation();
                event.preventDefault();

                showPreloader();

                var url = jQuery(this).data('url');

                jQuery.ajax({
                    url: url,
                    success: function (data) {
                        var detailsContainer = jQuery(document).find('div#content');
                        if (data) {
                            detailsContainer.html(jQuery(data).find('#content')[0]);
                        }

                        if (data && jQuery('.response_message').length) {
                            jQuery('.response_message code').remove();

                            var responseBlock = jQuery('<code class="hljs xml ajax" style="white-space: pre">');
                            var requestBlock = jQuery('.request_message');
                            var requestData = jQuery(data).find('#responseDataBlock .request_message_raw');
                            var responseData = jQuery(data).find('#responseDataBlock .response_message_raw');

                            var parser = new DOMParser();
                            var responseElem = parser.parseFromString(jQuery(responseData[0]).text(), "text/xml");

                            if (document.body.getAttribute('data-mark') === '0') {
                                if (jQuery(responseElem).find('row[oem]').length || jQuery(responseElem).find('Detail[oem]').length) {
                                    jQuery(responseElem).find('row[oem]').attr('oem', '*****');
                                    jQuery(responseElem).find('Detail[oem]').attr('oem', '*****');
                                }
                            }

                            var xmlText = new XMLSerializer().serializeToString(responseElem);
                            var xml = formatXml(xmlText);


                            jQuery(responseBlock).text(xml);

                            jQuery('.response_message').append(responseBlock);
                            var responseNode = jQuery(document).find('code.ajax')[0];
                            hljs.highlightBlock(responseNode);
                            jQuery(requestBlock).html(requestData.html());
                        }

                        window.history.pushState([], '', url);
                        hidePreloader();
                        jQuery('a.manufacturerInfo').on('click', function () {
                            var $this = jQuery(this);
                            $this.colorbox({
                                href: $this.data('url'),
                                title: '',
                                close: ''
                            });
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}