{% use 'findOem.twig' %}
{% spaceless -%}
    <form name="findByOEM" id="findByOEM" data-url="{{ createUrl('aftermarket', 'findOem', []) }}">
        <div class="am-header">
            <h2>AfterMarket</h2>
        </div>
        <div class="am-input-wrapper">
            <div class="g_input">
                <label for="brand">Brand </label>
                <input name="brand" type="text" id="brand" size="20" value="{{ brand }}"/>
            </div>
            <div class="g_input">
                <label for="oem">OEM </label>
                <input name="oem" type="text" id="oem" class="required" size="20" value="{{ oem }}"/>
            </div>
        </div>
        <div>
            <div class="am-checkbox-wrapper">
                <div class="am-options-header">
                    <span>Search options:</span>
                </div>
                <div class="am-checkbox">
                    <input name="options[]" value="crosses" id=crosses"
                           type="checkbox" {{ 'crosses' in options ? 'checked' : '' }}/>
                    <label for="crosses"></label>
                    <div class="am-checkbox-label">Crosses</div>
                </div>

                <div class="am-checkbox">
                    <input name="options[]" value="weights" id=weights"
                           type="checkbox" {{ 'weights' in options ? 'checked' : '' }}/>
                    <label for="weights"></label>
                    <div class="am-checkbox-label">Weights</div>
                </div>
                <div class="am-checkbox">
                    <input name="options[]" value="names" id=names"
                           type="checkbox" {{ 'names' in options ? 'checked' : '' }}/>
                    <label for="crosses"></label>
                    <div class="am-checkbox-label">Names</div>
                </div>
                <div class="am-checkbox">
                    <input name="options[]" value="properties" id="properties"
                           type="checkbox" {{ 'properties' in options ? 'checked' : '' }}/>
                    <label for="properties"></label>
                    <div class="am-checkbox-label">Properties</div>
                </div>
                <div class="am-checkbox">
                    <input name="options[]" value="images" id=images"
                           type="checkbox" {{ 'images' in options ? 'checked' : '' }}/>
                    <label for="images"></label>
                    <div class="am-checkbox-label">Images</div>
                </div>
            </div>
            <div class="am-checkbox-wrapper">
                <div class="am-options-header">
                    <span>Replacement types:</span>
                </div>
                <div class="am-checkbox">
                    <input name="replacementtypes[]" value="synonym" id=synonym"
                           type="checkbox" {{ 'synonym' in replacementtypes ? 'checked' : '' }}/>
                    <label for="synonym"></label>
                    <div class="am-checkbox-label">Synonym</div>
                </div>

                <div class="am-checkbox">
                    <input name="replacementtypes[]" value="PartOfTheWhole" id=PartOfTheWhole"
                           type="checkbox" {{ 'PartOfTheWhole' in replacementtypes ? 'checked' : '' }}/>
                    <label for="PartOfTheWhole"></label>
                    <div class="am-checkbox-label">PartOfTheWhole</div>
                </div>

                <div class="am-checkbox">
                    <input name="replacementtypes[]" value="Replacement" id="Replacement"
                           type="checkbox" {{ 'Replacement' in replacementtypes ? 'checked' : '' }}/>
                    <label for="Replacement"></label>
                    <div class="am-checkbox-label">Replacement</div>
                </div>
                <div class="am-checkbox">
                    <input name="replacementtypes[]" value="Duplicate" id="Duplicate"
                           type="checkbox" {{ 'Duplicate' in replacementtypes ? 'checked' : '' }}/>
                    <label for="Duplicate"></label>
                    <div class="am-checkbox-label">Duplicate</div>
                </div>
                <div class="am-checkbox">
                    <input name="replacementtypes[]" value="Tuning" id=Tuning"
                           type="checkbox" {{ 'Tuning' in replacementtypes ? 'checked' : '' }}/>
                    <label for="Tuning"></label>
                    <div class="am-checkbox-label">Tuning</div>
                </div>
                <div class="am-checkbox">
                    <input name="replacementtypes[]" value="Bidirectional" id=Bidirectional"
                           type="checkbox" {{ 'Bidirectional' in replacementtypes ? 'checked' : '' }}/>
                    <label for="Bidirectional"></label>
                    <div class="am-checkbox-label">Bidirectional</div>
                </div>
                <div class="am-checkbox">
                    <input name="replacementtypes[]" value="code" id="code"
                           type="checkbox" {{ 'code' in replacementtypes ? 'checked' : '' }}/>
                    <label for="code"></label>
                    <div class="am-checkbox-label">Code</div>
                </div>
            </div>
        </div>
        <input type="hidden" name="Locale" value="en_US">
        <input type="submit" class="button" name="oemSubmit" id="oemSubmit" value="Send"/>
    </form>
    <div id="content" style="min-height: 400px;margin-top: 20px;">
        {% if details %}
            {{ block('details_result') }}
        {% endif %}
    </div>
    <div id="responseDataBlock" class="hidden">
        <div class="request_message_raw">
            <div class="request_time">
                {{ 'REQUEST_TIME'|t|replace({'%time%' : request.requestTime|round(4) }) }}
            </div>
            {% for request in request.textRequests %}
                <div>
                    <b>{{ loop.index }}:</b> {{ request }}
                </div>
            {% endfor %}
        </div>
        {%- spaceless -%}
            <div class="response_message_raw">
                <code class="hljs xml">{{ request.data }}</code>
            </div>
        {% endspaceless %}
    </div>
{%- endspaceless %}

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(document).on('submit', 'form[name="findByOEM"]', function (event) {

            event.stopPropagation();
            event.preventDefault();


            var url = jQuery(this).data('url');

            var params = jQuery(this).serialize();

            if (validateForm(this)) {
                showPreloader();


                jQuery.ajax({
                    url: url + '&' + params,
                    success: function (data) {
                        var detailsContainer = jQuery(document).find('div#content');
                        if (data) {
                            detailsContainer.html(jQuery(data).find('#content')[0].innerHTML);
                        }

                        if (data && jQuery('.response_message').length) {

                            jQuery('.response_message code').remove();

                            var responseBlock = jQuery('<code class="hljs xml ajax" style="white-space: pre">');
                            var requestBlock = jQuery('.request_message');
                            var requestData = jQuery(data).find('#responseDataBlock .request_message_raw');
                            var responseData = jQuery(data).find('#responseDataBlock .response_message_raw');

                            var parser = new DOMParser();
                            var responseElem = parser.parseFromString(jQuery(responseData[0]).text(), "text/xml");
                            console.log(responseData);

                            if (document.body.getAttribute('data-mark') === '0') {

                                if (jQuery(responseElem).find('row[oem]').length || jQuery(responseElem).find('Detail[oem]').length) {
                                    jQuery(responseElem).find('row[oem]').attr('oem', '*****');
                                    jQuery(responseElem).find('Detail[oem]').attr('oem', '*****');
                                }
                            }

                            var xmlText = new XMLSerializer().serializeToString(responseElem);
                            var xml = formatXml(xmlText);


                            jQuery(responseBlock).text(xml);

                            jQuery('.response_message').append(responseBlock);
                            var responseNode = jQuery(document).find('code.ajax')[0];
                            hljs.highlightBlock(responseNode);
                            jQuery(requestBlock).html(requestData.html());
                        }

                        window.history.pushState([], '', url + '&' + params);
                        hidePreloader();
                        jQuery('a.manufacturerInfo').on('click', function () {
                            var $this = jQuery(this);
                            $this.colorbox({
                                href: $this.data('url'),
                                title: '',
                                close: ''
                            });
                        });
                    }
                });
            }
        });
    });

    jQuery(window).on('popstate', function () {
        location.reload();
    });
</script>